[credential]
	helper = "!f() { /var/www/.vscode-server/bin/784b0177c56c607789f9638da7b6bf3230d47a8c/node /tmp/vscode-remote-containers-a983e9d51516f4c4d7b7764d048302df6db3877f.js $*; }; f"
[user]
	email = jefersonsr05@gmail.com
	name = jefersonsr05
